<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-54-186-33-92.us-west-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>remainsWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AIS_Enterprise_Data.DataContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AIS_Enterprise_Data.DataContext, AIS_Enterprise_Data" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KeT11MSQMhxHVcxJag8ahDneHBmWVLuKw4GV74jtOVo=" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KeT11MSQMhxHVcxJag8ahDneHBmWVLuKw4GV74jtOVo=_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1y7OuGmJiamvg3jQuC3c7CfW3VgkvWC9DYmIBLhPJdm5FVFj1z3QdGHD5YWrT62pjCqOqdHC7FLQYg7cFMBhl87pqCyR+eina1eEe8QDrgU=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GytQtT6HwTlBQ3Cuhx3xUYQVZIx94EQiS2IeqSdY/9E=" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GytQtT6HwTlBQ3Cuhx3xUYQVZIx94EQiS2IeqSdY/9E=_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="cJ72LJfqguUi3kJ+qIMt0Zy46uJ+IE8DeNHsNRBMJcnKMSoMW0jkBTfoy01gNKYLnIaVu0Z+nxSPqhWV7nKIJgu1gzD1nSTin+IYx5fwP3I=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="1qhdlw5JeHTvs6vHJpQcJcjhLJ/Wkch4r0i2ERmeiCo=" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="1y7OuGmJiamvg3jQuC3c7CfW3VgkvWC9DYmIBLhPJdk4O9fzC3SuoslJxUfqxwyEWKljLwg05Qyf+uYfEV3CSychKm7z/IZL2DvmGZo2SbkmKfrJZekTUFOOyg0fYdv7" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\1qhdlw5JeHTvs6vHJpQcJcjhLJ/Wkch4r0i2ERmeiCo=_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1y7OuGmJiamvg3jQuC3c7CfW3VgkvWC9DYmIBLhPJdk4O9fzC3SuoslJxUfqxwyEWKljLwg05Qyf+uYfEV3CSychKm7z/IZL2DvmGZo2SbkmKfrJZekTUFOOyg0fYdv7" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="M+3+/s+IrPNXpZxRjznoxA==" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\M+3+/s+IrPNXpZxRjznoxA==_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1y7OuGmJiamvg3jQuC3c7D1OFlc7u8clEAiH3uAtt27ejCrHK9tHZNRiB9QLXVOGJCluYOFCRVZyTS+PjXVqs6MvuamgzPHgr8hzn5lzjUI=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="vRQ7GMTXWOE3MvzvHweY/A==" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\vRQ7GMTXWOE3MvzvHweY/A==_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="cJ72LJfqguUi3kJ+qIMt0eqcmT0vAiAY3eg6hxC90mwhGutOmnw6MJhYhmrg1dp0QxnaBeSVjhl6kdfIX/Bxzv6vkAXngBIhW1/cw2uMWBc=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QW68DXnV8EQ/zGEMUABjhA==" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QW68DXnV8EQ/zGEMUABjhA==_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1y7OuGmJiamvg3jQuC3c7D1OFlc7u8clEAiH3uAtt27hLv4P2KVxp0k/ZrIrC7t5VUCErGSjQFPqpWdD90Jlc5ryd4A3l43eDX6F2o+YxqQ=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AIS_Enterprise_Data.DataContext" />
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AIS_Enterprise_Data.DataContext-Web.config Connection String" />
  </ItemGroup>
</Project>