<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AIS_Enterprise_AV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="ConnectionName" value="AV"/>
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="M+3+/s+IrPNXpZxRjznoxA==" connectionString="1y7OuGmJiamvg3jQuC3c7D1OFlc7u8clEAiH3uAtt27ejCrHK9tHZNRiB9QLXVOGJCluYOFCRVZyTS+PjXVqs6MvuamgzPHgr8hzn5lzjUI=" providerName="System.Data.SqlClient" />
		<add name="vRQ7GMTXWOE3MvzvHweY/A==" connectionString="cJ72LJfqguUi3kJ+qIMt0eqcmT0vAiAY3eg6hxC90mwhGutOmnw6MJhYhmrg1dp0QxnaBeSVjhl6kdfIX/Bxzv6vkAXngBIhW1/cw2uMWBc=" providerName="System.Data.SqlClient" />
	
		<add name="KeT11MSQMhxHVcxJag8ahDneHBmWVLuKw4GV74jtOVo=" connectionString="1y7OuGmJiamvg3jQuC3c7CfW3VgkvWC9DYmIBLhPJdm5FVFj1z3QdGHD5YWrT62pjCqOqdHC7FLQYg7cFMBhl87pqCyR+eina1eEe8QDrgU=" providerName="System.Data.SqlClient" />
		<add name="GytQtT6HwTlBQ3Cuhx3xUYQVZIx94EQiS2IeqSdY/9E=" connectionString="cJ72LJfqguUi3kJ+qIMt0Zy46uJ+IE8DeNHsNRBMJcnKMSoMW0jkBTfoy01gNKYLnIaVu0Z+nxSPqhWV7nKIJgu1gzD1nSTin+IYx5fwP3I=" providerName="System.Data.SqlClient" />

		<add name="QW68DXnV8EQ/zGEMUABjhA==" connectionString="1y7OuGmJiamvg3jQuC3c7D1OFlc7u8clEAiH3uAtt27hLv4P2KVxp0k/ZrIrC7t5VUCErGSjQFPqpWdD90Jlc5ryd4A3l43eDX6F2o+YxqQ=" providerName="System.Data.SqlClient" />
		<add name="1qhdlw5JeHTvs6vHJpQcJcjhLJ/Wkch4r0i2ERmeiCo=" connectionString="1y7OuGmJiamvg3jQuC3c7CfW3VgkvWC9DYmIBLhPJdk4O9fzC3SuoslJxUfqxwyEWKljLwg05Qyf+uYfEV3CSychKm7z/IZL2DvmGZo2SbkmKfrJZekTUFOOyg0fYdv7" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>