<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="AIS_Enterprise"/>
	</extensions>
	
	<targets>
		<target name="database" type="Database">
			<connectionString>
				Server=89.20.42.182;Database=AV_New_Dev_2;User Id=av_admin;Password=Mp~7200~aA
			</connectionString>
			<commandText>
				insert into Logs(UserId, Date, Application, Message) values(@userId, @longdate, @application, @message);
			</commandText>

			<parameter name="@userId" layout="${userId}"/>
			<parameter name="@longdate" layout="${longdate}"/>
			<parameter name="@application" layout="${application}"/>
			<parameter name="@message" layout="${message}"/>

		</target>
	
	</targets>
	<rules>
		<logger name="*" minlevel="Info" appendTo="database"/>
	</rules>
</nlog>