@model int

@{
	Layout = "../Shared/_Layout.cshtml";
	ViewBag.Title = "title";
}


<div class="col-md-4 form-horizontal">
	<div class="row">
		<label class="control-label col-md-4">Cost</label>
		<div class="col-md-8">
			<input type="text" class="form-control"/>
		</div>
	</div>
	<br />
	<div class="row">
		<label class="control-label col-md-4">Cost</label>
		<div class="col-md-8">
			<input type="text" class="form-control"/>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<button class="btn btn-block btn-default">Send</button>
		</div>
	</div>
</div>